<%- include ('partials/_headerAdmin')  %>
    <div class="container my-4 d-flex justify-content-center">

        <div class="row">


            <div class="row my-5">
                <label for="lista" class="my-3 fs-3 text">Lista de estacionamientos:</label>
                <div id="lista" class="container">

                    <%if (estacionamientos){%>
                        <%for (var estacionamiento = 0; estacionamiento < estacionamientos.length; estacionamiento++) {%>
                            <div class="row my-3">
                                <div class="col-3">
                                    <label for="">Identificador: <%=estacionamientos[estacionamiento].identificador%></label>
                                </div>
                                <div class="col-9">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-2">
                                                <a href="edicionEstacionamiento/<%=estacionamientos[estacionamiento].identificador%>" class="btn btn-primary " role="button">Editar</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="eliminarEstacionamiento/<%=estacionamientos[estacionamiento].identificador%>" class="btn btn-danger " role="button">Eliminar</a>
                                            </div>
                                            <div class="col-2">
                                                <a href="gestionEspacios/<%=estacionamientos[estacionamiento].idEstacionamiento%>" class="btn btn-info " role="button">Espacios</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <%}%>

                </div>
            </div>



        </div>




    </div>



    <%- include ('partials/_footerAdmin')  %>