<%- include ('partials/_headerAdmin')  %>
    <div class="container my-4 d-flex justify-content-center">

        <div class="row">
            
            <div class="mb-3">
                <label for="iden" class="form-label">Identificador:</label>
                <input type="text" name="identificador" class="form-control" id="iden" required>
            </div>

            <label class="mb-3" for="depar">Tipo de espacio:</label>
            <div id="depar" class="row mb-3">
                <div class="col-6"><select name="tipoEspacio" class="form-select" aria-label="Default select example">
                    <% tiposEspacio.forEach (function (tipoEspacio) { %>
                        <option value="<%=tipoEspacio.idTipoEspacio%>"><%= tipoEspacio.tipoEspacio %></option>
                    <% }) %>
                  </select>
                </div>
            </div>


            <div class="row my-5">
                <label for="lista" class="my-3 fs-3 text">Lista de espacios:</label>
                <div id="lista" class="container">

                    <%if(data){%>
                        <%for(var i=0; i<data.length;i++){%>
                            <div class="row my-3">
                                <div class="col-4">
                                    <label for="">Id: <%=data[i].identificacion%></label>
                                </div>
                                <div class="col-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <a href="/edicionFuncionario/<%=data[i].identificacion%>" class="btn btn-primary " role="button">Editar</a>
                                            </div>
                                            <div class="col-4">
                                                <a href="/eliminadoFuncionario/<%=data[i].identificacion%>" class="btn btn-danger " role="button">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <%}%>

                </div>
            </div>



        </div>




    </div>



    <%- include ('partials/_footerAdmin')  %>