<%- include ('partials/_headerAdmin')  %>
    <div class="container my-4 d-flex justify-content-center">
        <form id="content" action="/admin/registroEspacio/<%=idEstacionamiento%>" method="post">
        <div class="row">
            
            <div class="mb-3">
                <label for="iden" class="form-label">Identificador:</label>
                <input type="text" name="identificador" class="form-control" id="iden" required>
            </div>

            <label class="mb-3" for="depar">Tipo de espacio:</label>
            <div id="depar" class="row mb-3">
                <div class="col-6"><select name="tipoEspacio" class="form-select" aria-label="Default select example">
                    <% tiposEspacio.forEach (function (tipoEspacio) { %>
                        <option value="<%=tipoEspacio.idTipoEspacio%>"><%= tipoEspacio.tipoEspacio %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Registrar espacio</button>
                </div>
            </div>
        </form>
            <div class="row my-5">
                <label for="lista" class="my-3 fs-3 text">Lista de espacios:</label>
                <div id="lista" class="container">

                    <%if (espacios){%>
                        <%for (var espacio = 0; espacio < espacios.length; espacio++){%>
                            <div class="row my-3">
                                <div class="col-4">
                                    <label for="">Identificador: <%=espacios[espacio].identificador%></label>
                                </div>
                                <div class="col-4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <a href="edicionEspacio/<%=espacios[espacio].identificador%>" class="btn btn-primary " role="button">Editar</a>
                                            </div>
                                            <div class="col-4">
                                                <a href="eliminarEspacio/<%=espacios[espacio].identificador%>" class="btn btn-danger " role="button">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <%}%>

                </div>
            </div>



        </div>




    </div>



    <%- include ('partials/_footerAdmin')  %>