<%- include ('partials/_headerAdmin')  %>
    <div class="container my-4 d-flex justify-content-center">
        <form id="content" action="/admin/registroEstacionamiento" method="post">
            <div class="mb-3">
                <label for="iden" class="form-label">Identificador:</label>
                <input type="text" name="identificador" class="form-control" id="iden" required>
            </div>
            <div class="mb-3">
                <label for="ub" class="form-label">Ubicación:</label>
                <input type="text" name="ubicacion" class="form-control" id="ub" required>
            </div>
            <div class="mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <label for="aper" class="form-label">Horario apertura:</label>
                            <input type="text" name="horarioApertura" class="form-control" id="aper" required>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            <label for="cie" class="form-label">Horario cierre:</label>
                            <input type="text" name="horarioCierre" class="form-control" id="cie" required>
                        </div>
                    </div>
                </div>
            </div>

            <label class="mb-3" for="depar">Tipo de estacionamiento:</label>
            <div id="depar" class="row mb-3">
                <div class="col-6"><select id="tipos" name="tipoEstacionamiento" class="form-select" aria-label="Default select example">
                    <% tiposEstacionamiento.forEach (function (tipoEstacionamiento) { %>
                        <option value="<%=tipoEstacionamiento.idTipoEstacionamiento%>"><%= tipoEstacionamiento.tipoEstacionamiento %></option>
                    <% }) %>
                  </select>
                </div>
            </div>

            <div class="mb-3 collapse" id="collapseExample" data-target="#collap">
                <label for="idOperador"> Operadores disponibles:</label>
                <div class="col-6"><select name="idOperador" class="form-select" aria-label="Default select example">
                    <% operadores.forEach (function (operador) { %>
                        <option value="<%=operador.idOperador%>"><%= operador.nombre%></option>
                    <% }) %>
                  </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlFile1">Fotografía:</label>
                <input type="file" class="form-control" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary">Registrar estacionamiento</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#tipos').on('change', function(e) {
                if (this.value == 2) {
                    $('.collapse').collapse('show');
                } else {
                    $('.collapse').collapse('hide');
                }
            });
        });
    </script>
    <%- include ('partials/_footerAdmin')  %>